@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Dosis|Stalemate');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');


html, body{
  width: 100%;
  height: 100%;
}

header {
  text-align: center;
  color: #333;
  /*text-shadow: 0 0 0.2em black, 0 0 0.2em black;*/
  background-image: url('../images/egg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  background-size: 100%;
  height: 100%;
  min-height: auto;
}

#nav-style{
  background-color: transparent;
   background: transparent;
   border-color: transparent;
}

#logo{
  height: 50px;
}
/*fix the text next to the log*/
.block-fix{
  display: inline-block;
  font-family: 'Stalemate', cursive;
  font-size: 2em;
  margin-left: 8px;
}

.intro-heading{
  font-size: 4em;
  padding-top: 2em;
  padding-bottom: 4em;
  margin-bottom: 1em;
}
/*text heading*/
#city{
 font-family: 'Didact Gothic', sans-serif;
}

#accroche{
  font-size: 2.5em;  
  font-family: 'Roboto', sans-serif;
  color: black;

}

#geolocalisation{
  font-size: 10px;
}

/*titulos de cada seccion*/
.tit-sec{
  font-family: 'Dosis', sans-serif;
  text-align: center;
}
#photos{
  height: 100%;
}
p{
  text-align: justify;
  font-family: 'Dosis', sans-serif;
}
#container-photos{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.modal-img{
  width: 500px;
  padding: 20px;
}
h2{
 padding: 20px;
 font-family: 'Dosis', sans-serif;
}
#text-area{
  width: 100%;
}

#form-reserve{
  background-color: rgba(225,225,225,0.4);
  border-radius: 5px 5px 5px 5px;
  
}

#reserve{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/106877/pexels-photo-106877.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')
}
#presentacion{
  height: 100%;
}

#cont-pre{
display: flex;
justify-content: space-around;
}

/*#cont-pre{
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
}*/
#text-p{
  text-align: justify;
  padding: 30px;
  width: 50%;
}

#text-equipe{
  padding: 30px;
}

#footer-id{
  background-color: black;
  padding: 30px;
  color: white;
}

ul{
  list-style-type: none;
}

footer a{
  color:white;
}